@import "tailwindcss";

html,
body {
  height: 100dvh; /* 뷰포트 단위 높이 확보 */
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* 가로 스크롤 방지 */
  overflow-y: auto; /* 세로 스크롤 허용 */
  background-color: var(--color-bg-white);
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

body {
  min-height: 100dvh;
  height: 100%;
  overflow-x: hidden;
  line-height: 1;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}
